
:root{
    --dorado-brillante: #FFD700;
    --dorado-oscuro: #B8860B;
    --negro-clasico: #000000;
    --gris-oscuro: #2F4F4F;
    --blanco-crema: #F5F5DC;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* CABECERA */
.cabecera{
    background: url(/img/portada.jpg)  no-repeat center/cover;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 100;

    .cabecera_header{
        color: var(--blanco-crema);
        font-weight: bolder;
        position: absolute;
        min-width: 100%;
        min-height: 5vh;
        display: flex;
        padding: 3% 5%;
        
        .cabecera_header_logo{
            min-width: 100%;
        }

        .cabecera_header_menu{
            min-width: 100%;
            display: flex;
            justify-content: flex-end;
            a{
                text-decoration: none;
                color: var(--blanco-crema);
                margin: 0 1%;
                position: relative;
                
                img{
                    width: 20px;
                    height: 20px;
                }
            }

            a::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--blanco-crema);
                visibility: hidden;
                transform: scaleX(0);
                transition: all .3s ease-in-out;
            }

            a:hover::after{
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }

    .cabecera_cuerpo{
        color: var(--blanco-crema);
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 5rem;
            text-align: center;
            font-weight: 700;
            margin: 3% 5% 3% 5%;
        }

        p{
            text-align: center;
            font-size: 1.5rem;
            margin: 3% 8% 3% 8%;
        }

        button{
            padding: 1% 2%;
            border: none;
            cursor: pointer;
            background-color: var(--gris-oscuro);
            color: var(--blanco-crema);
            font-weight: bolder;
            font-size: 1rem;
            transition: all .4s ease-in-out;
        }

        button:hover{
            transform: scale(1.1);
            background-color: var(--dorado-oscuro);
            color: var(--gris-oscuro);
        }

    }
}

.cabecera::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--negro-clasico);
    opacity: .6;
    z-index: -90;
}

/* BIENVENIDA */

.bienvenida{
    background-color: var(--dorado-oscuro);
    min-width: 100%;
    max-height: 50vh;
    height: 50vh;
    padding: 3% 5%;

    .bienvenida_contenedor{
        background-color: var(--blanco-crema);
        min-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8%;
        
        h2{
            width: 50%;
            font-size: 2rem;
            color: var(--gris-oscuro);
        }

        p{
            width: 50%;
            padding: 3%;
            text-align: justify;
        }
    }
}

.servicios{
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--blanco-crema);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;

    .servicios_titulo{
        font-size: 2rem;
        color: var(--gris-oscuro);
        margin: 5% 0 ;
    }

    .servicios_contenedor{
        min-width: 100%;
        min-height: 50vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .servicios_contenedor_cards{
            flex: 1 1 250px;
            min-width: 25%;
            min-height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px;

            div{
                /* background-color: red; */
                min-width: 100%;
                min-height: 40vh;
                position: relative;

                img{
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 40vh;
                    transform: scale(1);
                    transition: transform 0.5s ease-in-out;
                    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.504);
                    
                }

                .capa{
                    width: 100%;
                    height: 40vh;
                    background-color: var(--negro-clasico);
                    position: absolute;
                    top: 0;
                    opacity: .6;
                    color: var(--blanco-crema);
                    transition: .5s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    cursor: pointer;
                    text-decoration: none;
                }

                .capa:hover{
                    opacity: .3;
                    z-index: 50;
                    /* align-items: flex-end; */
                    color: var(--blanco-crema);
                    /* padding: 0 2% 2% 0; */
                }
            }


        }
    }
}


.testimonios{
    background-color: var(--dorado-oscuro);
    min-width: 100%;
    min-height: 50vh;
    height: 50vh;
    padding: 3% 5%;

    .testimonios_general{
        background-color: var(--blanco-crema);
        min-width: 100%;
        height: 100%;

        h2{
            color: var(--gris-oscuro);
            font-size: 2rem;
            width: 100%;
            height: 25%;
            padding: 3% 0 0 3%;
        }

        .testimonios_contenedor{
            
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1px;

            p{
                text-align: center;
                padding: 0 5%;
                color: var(--gris-oscuro);

                span{
                    font-weight: bold;
                    padding: 5%;
                }
            }
        }
    }
}

/* FORMULARIO DE CONTACTO */

.datos_clientes{
    background-image: url(/img/portada.jpg);
    opacity: var(--negro-clasico);
    min-width: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco-crema);
    position: relative;


    h2{
        font-size: 3rem;
        margin: 1% 0 0 0;
        font-weight: lighter;
        text-align: center;
        z-index: 100;
    }

    p{
        margin: 2% 0;
        text-align: center;
        z-index: 100;
    }

    .datos_clientes_areas-texto{
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1%;
        flex-wrap: wrap;
        z-index: 100;

        input{
            background-color: var(--gris-oscuro);
            opacity: .7;
            height: 50px;
            min-width: 350px;
            border-radius: 10px;
            color: var(--blanco-crema);
            padding: 0 .5%;
            border: none;
        }

        input::placeholder{
            color: var(--blanco-crema);
            opacity: 1;
            font-size: 1rem;
        }
    
        button{
            background-color: var(--dorado-oscuro);
            color: var(--gris-oscuro);
            font-size: 1.3rem;
            font-weight: bolder;
            height: 50px;
            width: 100px;
            cursor: pointer;
            border-radius: 10px;
            border: none;
            
        }

    }
}

.datos_clientes::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 50vh;
    background-color: var(--negro-clasico);
    opacity: .6;
}

/* QUE VISTO? */

.que_visto{
    display: flex;
    background-color: var(--blanco-crema);
    min-width: 100%;
    min-height: 55vh;
    height: 50vh;
    padding: 3% 5%;

    .que_visto_texto{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 0 2%;
        color: var(--gris-oscuro);

        h2{
            min-width: 100%;
            min-height: 25%;
            font-size: 3rem;
            text-align: center;

        }
    }

    .que_visto_grid{
        flex: 2;
        padding-left: 15px;

        .que_visto_grid_contenedor_imagenes {
            width: 100%;
            display: grid;
            grid-template-areas:
            "imagen_1 imagen_2 imagen_3"
            "imagen_1 imagen_4 imagen_4"
            "imagen_1 imagen_5 imagen_6";
            grid-gap: 10px;
        }
        
        img {
            min-width: 100%;
            max-height: 110px;
            object-fit: cover;
            transition: all .4s ease-in-out;
        }

        img:hover{
            transform: scale(1.2);
        }

        .imagen_1 img{
            min-height: 47vh;
            object-fit: cover;

        }
        
        .imagen_1 { grid-area: imagen_1;}
        .imagen_2 { grid-area: imagen_2; }
        .imagen_3 { grid-area: imagen_3; }
        .imagen_4 { grid-area: imagen_4; }
        .imagen_5 { grid-area: imagen_5; }
        .imagen_6 { grid-area: imagen_6; }
    }
}

footer{
    background-color: var(--dorado-oscuro);
    width: 100%;
    height: 50vh;
    max-height: 50vh;
    display: grid;
    grid-template-areas: 
        "logo logo logo logo serv_1 serv_2 redes"
        "logo logo logo logo serv_1 serv_2 redes"
        "logo logo logo logo serv_3 serv_4 redes"
        "logo logo logo logo serv_3 serv_4 redes";
    place-items: center;

    .logo{grid-area: logo;}
    .serv_1{grid-area: serv_1;}
    .serv_2{grid-area: serv_2;}
    .serv_3{grid-area: serv_3;}
    .serv_4{grid-area: serv_4;}
    .redes{grid-area:  redes;}

    .redes{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }

    a{
        text-decoration: none;
        color: var(--gris-oscuro);
        font-size: 1.5rem;
    }

    [class^="serv"]{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        color: var(--blanco-crema);
    }

    a img{
        max-width: 50px;
        margin: 0 5%;
}

.serv_1,
.serv_2{
    padding-top: 15vh ;
}

.serv_3,
.serv_4{
    padding-bottom: 15vh ;
}

}

